{{!-- <ul>
    <li><a href="/">index</a></li>
    <li><a href="/edit">edit</a></li>

</ul> --}}
<nav class="navbar navbar-dark bg-black mb-4">

    <div class="container">
        <a href="/" class="navbar-brand">CRUD Node.js Mongo</a>
    </div>
</nav>